body {
    width: 100%;
    height: 100vh; /*Одиниця vh означає висоту вюпорту (viewport height) та відноситься до 1% від height вюпорту.*/
    margin: 0;
    background-color: #1b1b32;
    color: #f5f6f7;
}
/* Одиниця rem означає корінь em та відноситься до розміру шрифту елемента html.
Оскільки елементи label є вбудованими за замовчуванням, всі вони зображаються пліч-о-пліч в одному рядку,
 що ускладнює читання тексту. Щоб вони зображалися в окремих рядках, 
 додаю display: block до елемента label та додайте margin зі значенням 0.5rem 0, щоб відокремити їх один від одного. */
label {
    display: block;
    margin: 0.5rem 0;
}